<div class="main">
<h2><span>投稿詳細</span></h2>

  <div class="article-user">
    <div class="article-box">
      <%= link_to user_path(@post.user_id) do %>
        <%= image_tag @post.user.get_profile_image(100,100), style: "border-radius: 50%;", class: "post-profile-img" %>
      <div class="post-profile">
        <%= @post.user.name %>
      <% end %>
      </div>
    </div>
    <div class="article-box">
    <% if @post.user_id == current_user.id %>
      <div class="edit-box">
      <%= link_to edit_post_path(@post.id), class: "edit-font" do %>
        投稿記事を編集
        <i class="fas fa-edit"></i>
      <% end %>
      </div>
      <div class="delete-box">
      <%= link_to post_path(@post.id), method: :delete, "data-confirm"=>"本当に消しますか？", class: "delete-font" do %>
        投稿を削除<i class="fas fa-trash-alt"></i>
      <% end %>
      </div>
    <% end %>
    </div>
  </div>

    <div class="article">
      <div class="sec-02-left">
          <%= image_tag @post.get_image(300,300), class: "article-image" %>
      </div>
      <div class="sec-02-right">
        <div class="article-culom">
          <%= @post.title %>
        </div>
        <div class="article-culom">
          <%= simple_format(@post.body) %>
        </div>
      </div>
  </div>
  <% if @post.favorited_by?(current_user) %>
  <p class="post-favorite">
    <%= link_to post_favorites_path(@post), method: :delete, class: "favorite_btn" do %>
      <i class="fas fa-heart"></i><%= @post.favorites.count %>いいね
    <% end %>
    <% else %>
    <%= link_to post_favorites_path(@post), method: :post,class: "favorite_btn" do %>
      <i class="far fa-heart"></i><%= @post.favorites.count %>いいね
    <% end %>
  </p>
  <% end %>
  <div class="article-post-comments">
    <p>コメント件数：<%= @post.post_comments.count %></p>
    <% @post.post_comments.each do |post_comment| %>
    <div class="comment-box">
      <p><%= image_tag post_comment.user.get_profile_image(100,100) %></p>
      <%= post_comment.user.name %>
      <%= post_comment.created_at.strftime('%Y/%m/%d') %><br>
      <p class="post_comment"><%= simple_format(post_comment.comment) %></p>
       <% if post_comment.user == current_user %>
        <%= link_to "削除", post_post_comment_path(@post, post_comment), method: :delete %>
      <% end %>
    </div>
    <% end %>
  </div>
  <div>
    <%= form_with model: [@post, @post_comment] do |f| %>
      <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
      <%= f.submit "送信する" %>
    <% end %>
  </div>
</div>

