<div class="main">
  <h2><span>投稿詳細</span></h2>
  <div class="article-user">
    <div class="article-box">
      <%= link_to user_path(@post.user_id) do %>
        <%= image_tag @post.user.get_profile_image(100,100), style: "border-radius: 50%;", class: "post-profile-img" %>
      <div class="post-profile">
        <%= @post.user.name %>
      <% end %>
      </div>
    </div>
    <div class="article-box">
    <% if @post.user_id == current_user.id %>
      <div class="edit-box">
      <%= link_to edit_post_path(@post.id), class: "edit-font" do %>
        投稿記事を編集
        <i class="fas fa-edit"></i>
      <% end %>
      </div>
      <div class="delete-box">
      <%= link_to post_path(@post.id), method: :delete, "data-confirm"=>"本当に消しますか？", class: "delete-font" do %>
        投稿を削除
        <i class="fas fa-trash-alt"></i>
      <% end %>
      </div>
    <% end %>
    </div>
  </div>

    <div class="article">
      <div class="sec-02-left">
          <%= image_tag @post.get_image(320,320), class: "article-image" %>
      </div>
      <div class="sec-02-right">
        <div class="article-culom">
          <%= @post.title %>
        </div>
        <div class="article-culom">
          <%= simple_format(@post.body) %>
        </div>
      </div>
  </div>
  <div id="favorite_btn_<%= @post.id %>">
    <%= render "public/favorites/favorites_btn", post: @post %>
  </div>
  <div class="article-post-comments">
  <%= render "public/post_comments/index", post: @post, post_comment: @post_comment %>
  <% if current_user.name != "guestuser" %>
    <div class="comment-sec02">
    <%= render "public/post_comments/format", post: @post, post_comment: @post_comment %>
    </div>
  <% end %>
  </div>
</div>
