<div class="container">
  <h2><span>管理者ログイン</span></h2>

  <div class="box">
    <%= form_with model: @admin, url: session_path(resource_name), local: true do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'a@a' %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <div class="button-box">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>
  </div>
  <%#= render "admin/shared/links" %>
</div>