<div class="container">

  <h2><span>新規登録</span></h2>

  <div class="box">
    <%= form_with model: @user, url: user_registration_path do |f| %>
      <%#= render "public/shared/error_messages", resource: @user %>

      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      <%= render "public/shared/name_error_message", resource: @user %>
      </div>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      <%= render "public/shared/email_error_message", resource: @user %>

      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em class="password-mini-length">(<%= @minimum_password_length %> 文字以上)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      <%= render "public/shared/password_error_message", resource: @user %>

      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        <%= render "public/shared/password_confim_error_message", resource: @user %>

      </div>

      <div class="button-box">
        <%= f.submit "新規登録" %>
      </div>
    <% end %>

    <%#= render "public/shared/links" %>

  </div>
</div>

