<% unchecked_notifications = notifications.where(checked: false) %>
<% if unchecked_notifications.exists? %>
  <table class="notice-table">
  <thead>
		<th class="update_all_noticed">
		  <%= link_to update_all_notifications_path, method: :patch, class: "noticed-link" do %>
  		  <i class="fas fa-trash"></i> 全削除
		  <% end %>
		</th>
	</thead>
	<tbody>
      <% unchecked_notifications.each do |notification| %>
      <!--actionによって表示を分岐させる-->
      <% if notification.action == "comment" %>
      <tr>
        <td class="notice-cel">
          <div class="notice-sec01">
            <%= link_to user_path(notification.visitor),class: "notice-user-link" do %>
              <%= image_tag notification.visitor.get_profile_image(50, 50), style: "border-radius: 50%;" %>
              <%= notification.visitor.name.truncate(10) %>
            <% end %>さんが
          </div>
          <div class="notice-sec02">
            あなたにコメントを送りました。(<span><%= time_ago_in_words notification.created_at %>前</spanp>)
          </div>
          <div class="notice-sec03">
            <%= link_to notification_path(notification.id),method: :put, class: "noticed-link" do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </div>
        <td>
      </tr>
      <% end %>
      <% if notification.action == "like" %>
      <tr>
      <td class="notice-cel">
        <div class="notice-sec01">
          <%= link_to user_path(notification.visitor),class: "notice-user-link" do %>
            <%= image_tag notification.visitor.get_profile_image(50, 50), style: "border-radius: 50%;" %>
            <%= notification.visitor.name.truncate(10) %>
          <% end %>さんが
        </div>
        <div class="notice-sec02">
          あなたにいいねを送りました。(<span><%= time_ago_in_words notification.created_at %>前</span>)
        </div>

        <div class="notice-sec03">
          <%= link_to notification_path(notification.id),method: :put, class: "noticed-link" do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </div>
        <td>
      </tr>
      <% end %>
      <% if notification.action == "follow" %>
      <tr>
      <td class="notice-cel">
        <div class="notice-sec01">
          <%= link_to user_path(notification.visitor),class: "notice-user-link" do %>
            <%= image_tag notification.visitor.get_profile_image(50, 50), style: "border-radius: 50%;" %>
            <%= notification.visitor.name.truncate(10) %>
          <% end %>さんが
        </div>
        <div class="notice-sec02">
          あなたをフォローしました。(<span><%= time_ago_in_words notification.created_at %>前</span>)
        </div>

        <div class="notice-sec03">
          <%= link_to notification_path(notification.id),method: :put, class: "noticed-link" do %>
            <i class="fas fa-trash"></i>
            <% end %>
        </div>
        <td>
      </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>通知はありません</p>
<% end %>
