<% unchecked_notifications = notifications.where(checked: false) %>
<% if unchecked_notifications.exists? %>
  <table class="notice-table">
    <tbody>
      <% unchecked_notifications.each do |notification| %>
      <tr>
        <td class="notice-cel">
          <div class="notice-sec01">
            <%= link_to user_path(notification.visitor),class: "notice-user-link" do %>
              <%= image_tag notification.visitor.get_profile_image(50, 50), style: "border-radius: 50%;" %>
              <%= notification.visitor.name %>
            <% end %>さんが
          </div>
          <div class="notice-sec02"></div>
            あなたにコメントを送りました。
          </div>
          <div class="notice-sec03">
            <p><%= time_ago_in_words notification.created_at %>前</p>
          </div>
            <%= link_to "既読にする", notification_path(notification.id),method: :put, class: "noticed-link" %>
        <td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>通知はありません</p>
<% end %>
