<div class="container">
  <h2><span>ログイン</span></h2>

  <div class="box">
    <%= form_with model: @user, url: user_session_path do |f| %>
      <%= render "public/shared/error_messages", resource: @user %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'sample@example.com' %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <div class="button-box">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>
  </div>
  <%#= render "public/shared/links" %>
</div>