<div class="main">
  <h2><span>マイページ</span></h2>
  <div class="profile-show">
    <div class="profile-box-left">
      <%= image_tag @user.get_profile_image(100,100), style: "border-radius: 50%;", class: "profile-img" %>
    </div>
    <div class="profile-box-right">
      <div class="profile-item">
        7<br>フォロワー
      </div>
      <div class="profile-item">
        5<br>フォロ中ー
      </div>
      <% if current_user == @user %>
        <div class="profile-favorite-item">
          <i class="far fa-heart"></i> <%= @user.favorites.count %><br>
          お気に入り
        </div>
      <% end %>
    </div>
  </div>
  <div class="profile-show">
    <div class="profile-box-left">
      <%= @user.name %>
    </div>
    <div class="profile-box-right">
      <%= @user.introduction %>
    </div>
  </div>
<!--ログインしているユーザと一致し、かつゲストログインでなければ編集できる-->
  <% if @user.id == current_user.id %>
    <% if @user.name != "guestuser" %>
      <%= link_to edit_user_path(current_user.id) do %>
      プロフィールを編集
      <% end %><br>
    <% end %>
  <% end %>

  <%= link_to "新規投稿", new_post_path %>
  <%= link_to root_path do %>
    トップへ戻る
  <% end %>
  <div class="profile-show">
    <% @user.posts.each do |post| %>
      <%= link_to post_path(post.id) do %>
        <%= image_tag post.get_image(200,200) %>
      <% end %>
    <% end %>
  </div>
</div>
