<div class="main">
  <h2><span>マイページ</span></h2>
  <div class="profile-show">
    <div class="profile-box-left">
      <%= image_tag @user.get_profile_image(100,100), style: "border-radius: 50%;", class: "profile-img" %>
    </div>
    <div class="profile-box-right">
      <div class="profile-item">
        <%= link_to user_followings_path(@user) do %>
          <%= @user.followings.count %><br>フォロワー
        <% end %>
      </div>
      <div class="profile-item">
        <%= link_to user_followers_path(@user) do %>
          <%= @user.followers.count %><br>フォロ中ー
        <% end %>
      </div>
      <% if current_user == @user %>
      <%= link_to user_favorites_path(@user) do %>
        <div class="profile-favorite-item">
          <i class="far fa-heart"></i> <%= @user.favorites.count %><br>
          お気に入り
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="profile-show">
    <div class="profile-box-left">
      <%= @user.name %>
    </div>
    <div class="profile-box-right">
      <%= @user.introduction %>
    </div>
  </div>
  <div class="profile-show">
<!--ログインしているユーザと一致し、かつゲストログインでなければ編集できる-->
    <div class="profile-edit-btn">
      <% if @user.name != "guestuser" %>
        <% if  @user.id == current_user.id %>
          <%= link_to edit_user_path(current_user.id) do %>
            <i class="fas fa-user-edit"></i>プロフィールを編集<br>
          <% end %>
        <% else %>
        <%= render "public/relationships/relationships_btn", user: @user %>
        <% end %>
      <% end %>
    </div>
  </div>

  <%= link_to "新規投稿", new_post_path %>
  <%= link_to root_path do %>
    トップへ戻る
  <% end %>
  <div class="profile-show">
    <% @user.posts.each do |post| %>
      <%= link_to post_path(post.id) do %>
        <%= image_tag post.get_image(200,200) %>
      <% end %>
    <% end %>
  </div>
</div>
