<header>
  <div class="header_a">
    <!--ロゴヘッダー-->
    <div class="log_header">
      <%= link_to root_path do %>
        <%= image_tag 'logo.png', size: "90x90" %>
      <% end %>
    </div>
    <div class="log_current_user">
      <% if user_signed_in? %>
        <i class="fas fa-user"></i><br><%= current_user.name %>さん
      <% end %>
    </div>
    <!--ハンバーガアイコンー-->
    <div class="openbtn"><span></span><span></span><span></span></div>
    <!---ナビゲーション->-->
    <nav class="area_nav_header">
      <ul class="list_nav_header">
         <!--ユーザ側ログイン-->
        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to user_path(current_user.id) do %>
            <p class="nav-font">マイページ</p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to posts_path do %>
          <p class="nav-font">投稿一覧</p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete do %>
            <p class="nav-font">ログアウト</p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to notifications_path do %>
            <p class="nav-font"><i class="fas fa-bell"></i>
            <% if unchecked_notifications.any? %>
            <!--もし通知があればピンクのマークで知らせる-->
              <i class="fas fa-circle" style="color: #ffb6c1;position: absolute;left: 75%;" ></i>
            <% end %>
            </p>
          <% end %>
        </li>        <!--管理者側ログイン-->
        <% elsif admin_signed_in? %>
        <li class="nav-item">
          <%= link_to admin_users_path do %>
            <p class="nav-font">ユーザ一覧</p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_admin_session_path,method: :delete do %>
            <p class="nav-font">ログアウト</p>
          <% end %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to new_user_registration_path do %>
          <p class="nav-font">新規登録</p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_user_session_path do %>
            <p class="nav-font">ログイン</p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to users_guest_sign_in_path, method: :post do %>
            <p class="nav-font">ゲストログイン(閲覧用)</p>
          <% end %>
        </li>
        <% end %>
        <li class="nav-item">
          <div class="search_box">
            <%= render "public/posts/search_word" %>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>