<!DOCTYPE html>
<html>
  <head>
    <title>Hanachan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/scrollreveal"></script>
    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/8-1-1/js/8-1-1.js"></script>
     <!--jquery-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;500;600&display=swap" rel="stylesheet">
    <!--Googlefont-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render "layouts/header" %>
    <% if flash[:notice] %>
      <div class="notice">
        <p><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert">
        <p><%= alert %></p>
      </div>
    <% end %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
